.container-xxl{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buscador-c{
  margin:20px ;
}

.buscador-c .btn{
  width: 40px;
  height: 40px;
}
.buscador-c .bu{
  width: 600px;
  border-radius: 5px;
  height: 41px;
  padding-bottom: 10px;
}

/* .rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  color: #777777;
  font-size: 25px;
  margin: 0;
  padding: 0;
  position: relative;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  padding: 0;
  cursor: pointer;
  font-size: 30px;
}

.rating label:before {
  content: '\2605';
  padding: 5px;
  color: #d8d8d8;
}


.rating input:checked ~ label:before,
.rating input:checked ~ label:hover ~ label:before {
  color: #ffcc00;
}

.rating:not(:checked) > label:hover:before,
.rating:not(:checked) > label:hover ~ label:before {
  color: #ffcc00;
} */

.puntos{
  display: flex;
  flex-direction: row;
 
}

.star{
  font-size: 30px;
  color:#bbb;
  transition: color 0.3s;
  cursor:pointer; 
  margin: 5px;
}


.star:hover,
.star.checked{
  color:gold;
}

.stars{
  cursor:pointer; 
  font-size: 30px;
  color:gold;
  margin: 5px;

}